<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


	html {
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	*, *:before *:after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;
		font-family: 'Poppins', sans-serif;
	}
	a {
        text-decoration: none;
    }

    .announcementBox{
    	padding: 10px;
    	margin: 4px;
    	border-radius: 20px;
    	border-top: solid 2px 121212;
    	border-bottom: solid 2px black;
    	box-shadow: 2px 3px 3px;
    }

    .card {
    	border-radius: 20px;
    }

	/*this can be removed tho the toggle button will be placed at the back and will be kind of hard to click on*/
	.darkmode-layer, .darkmode-toggle {
	  z-index: 10;
	}

</style>